h4{
    text-align:right;
    text-decoration:black underline;
    color:maroon;
    font: size 20px;
}



p{
    text-align:justify;
    font-size: 20px;
    font-family:cursive;
    font-weight: 50;
    font-style: italic;
}
#chur{
    font-weight: bolder;
}
#box1{
    display: block;
    border: 5px solid blue;
    width: 200px;
    margin: 10px;
    height: 250px;
    padding: 5px;
    background-color: #ffe4c4;
    display: inline-block;
    overflow:scroll;
}
#box2{
    display: inline-block;
    border: 5px solid blue;
    width: 200px;
    margin: 10px;
    height: 250px;
    padding: 5px;
    float: right;
    text-align: center;
    background-image:url("surajimage.jpg");
    font-size: 20px;
    
}
div a{
    color: aquamarine;
    text-decoration: none;
}